.about {
  background-image: url(../../../images/bg-about.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fdfdfd;
  min-height: 100vh;
  padding: 88px 0 82px;
}

.about__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-top: 25%;
}

.about__title-span {
  display: block;
}

.about__programm {
  width: 100%;
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-top: 40px;
}

@media screen and (max-width: 1280px) {
  .about__title-span {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .about__title {
    font-size: 36px;
    margin-top: 5%;
  }
}

@media screen and (max-width: 768px) {
  .about__title-span {
    display: none;
  }
}