.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.2;
  margin-top: 8px;
}

.title--mini {
  font-weight: 400;
  font-size: 18px;
  line-height: 0.83;
  color: #f2be22;
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 24px;
  }

  .title--mini {
    text-align: center;
    font-size: 14px;
  }
}