.form-find {
  height: min-content;
  padding: 40px 42px;
}

.form-find-container {
  display: flex;
  gap: 24px;
}

.form-find__select {
  display: block;
  width: 270px;
  height: 52px;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  padding: 0px 16px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #fdfdfd;
}

.form-find-select-span {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 8px;
  margin-left: 8px;
}

.form-find-button-container {
  width: 213px;
  height: 52px;
}

@media screen and (max-width: 1280px) {
  .form-find-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1024px) {

  .form-find {
    height: min-content;
    padding: 20px;
  }

  .form-find-container {
    flex-direction: column;
    flex-wrap: nowrap; 
  }

  .form-find__select {
    width: 100%;
  }
}