.photo-gallery {
  padding-bottom: 200px;
}

.photo-gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-gallery-list {
  margin: 40px 0 50px;
}

@media screen and (max-width: 1024px) {
  .photo-gallery {
    padding-bottom: 250px;
  }
}