.rates__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rates-cards {
  width: 100%;
  margin-top: 50px;
}

.rates__button {
  width: 260px;
  height: 52px;
  margin-top: 50px;
}

.rates__journeys {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .rates__journeys {
    flex-direction: column;
  }
}